        {{ if isset .Params "tags" }}
            {{ $tagsLen := len .Params.tags }}
            {{ if gt $tagsLen 0 }}
        <div class=taglist>
            Relacionados:</br>
                {{ range $k, $v := .Params.tags }}
                {{ $url := printf "tags/%s" (. | urlize | lower) }}
                <a id="tag_{{ . }}" href="{{ $url | absURL }}">{{ . | title }}</a>
                {{ if lt $k (sub $tagsLen 1) }}&middot;{{ end }}
                {{ end }}
            </div>
            {{ end }}
        {{ end }}
    </main>
    <footer><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a><br>
        Todo el contenido de este sitio es de dominio publico</br>
        <a href="/index.xml"><img src="/pix/rss.svg" style="max-height:.9em;display:inline" alt="RSS"> Suscribete al RSS para nuevos restaurantes</a></footer>
</body>
</html>
