<style>
.cryptocontainer {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
}
.cryptoinfo {
    max-width: 350px ;
    text-align: center ;
    padding-left: 10px ;
    padding-right: 10px ;
}
.cryptoinfo code {
	font-size: small ;
	overflow-wrap: break-word ;
}
.qr {
    max-height: 150px; ;
}
</style>
<h2>Colabora al proyecto original (based.cooking)</h2>
<div class=cryptocontainer>
<div class=cryptoinfo>
<img style="max-height:1em;max-width:1em;display:inline" src=/pix/xmr.svg> Monero </br>
<code style="font-size:xx-small;overflow-wrap:break-word;">84N9N3DMWhQ9cstHwGEjo8hEvm9bjeYgjV5fLrGK6TmA9iVPjnU7NMUT7gyAc22UgGAVTCUgReQ1J67znhWP3L52Usfw6jg</code></br>
<a href=/pix/monero-based-cooking.png><img class=qr src=/pix/monero-based-cooking.png></a>
</div>
<div class=cryptoinfo>
<img style="max-height:1em;max-width:1em;display:inline" src=/pix/btc.svg> Bitcoin </br>
<code style="font-size:small;overflow-wrap:break-word;">bc1q763s4ud0hgfa66ce64gyh6tsss49vyk5cqcm6w</code></br>
<a href=/pix/bitcoin-based-cooking.png><img class=qr src=/pix/bitcoin-based-cooking.png></a>
</div>
</div>

<h2>Colabora a montevideo.restaurant</h2>
<div class=cryptocontainer>
<div class=cryptoinfo>
<img style="max-height:1em;max-width:1em;display:inline" src=/pix/xmr.svg> Monero </br>
<code style="font-size:xx-small;overflow-wrap:break-word;">8BCKaStkkSrgrm9RMXpvp3T62ek7K6xaG7bFkbdzFPzVjno9rGcWscS525ZZ8LkDTU9QomgjhCZMFja3DUVFBm9jNhzzk46</code></br>
<a href=/pix/monero-montevideo-restaurant.png><img class=qr src=/pix/monero-montevideo-restaurant.png></a>
</div>
<div class=cryptoinfo>
<img style="max-height:1em;max-width:1em;display:inline" src=/pix/btc.svg> Bitcoin </br>
<code style="font-size:small;overflow-wrap:break-word;">bc1qw09me72xlh30805z4l460md7v26n27wzz5jhmj</code></br>
<a href=/pix/bitcoin-montevideo-restaurant.png><img class=qr src=/pix/bitcoin-montevideo-restaurant.png></a>
</div>
</div>
